<form class="row">
  <h4>Agregar personaje</h4>
  <!-- ojo para cargar este ngModel necesitamos FormsModule, lo importamos en el
      dbz.modules.ts -->
  <input
    type="text"
    [(ngModel)]="character.name"
    name= "name"
    class="form-control mb-2"
    placeholder="Nombre"
  />
  <input
    type="text"
    [(ngModel)]="character.power"
    name= "power"
    class="form-control mb-2"
    placeholder="Poder"
  />
  <button type="submit" (click)="emitCharacter()" class="btn btn-primary">Agregar</button>

  <!-- <pre>{{character | json}}</pre> -->
</form>
